# C
*.o
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.tar.xz

# Autotools
/autom4te.cache
/aclocal.m4
/ar-lib
/build-aux
/compile
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/libtool
/test-driver
/config.*
/test/test-suite.log
.deps/
.libs/
stamp-h1
stamp-it
Makefile
Makefile.in
Makefile.in.in
/m4
/sub
.dirstamp

# Gettext
/po/POTFILES
/po/.intltool-merge-cache
*.mo
*.gmo
*.pot

# Misc
*~
*.patch
*.diff
tags
